services:
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
      args:
        NODE_VERSION: 22.13.0
    ports:
      - "3000:3000"
      - "9223:9223"
    environment:
      - DOMAIN=${DOMAIN:-localhost:3000}
      - CDP_DOMAIN=${CDP_DOMAIN:-localhost:9223}
    volumes:
      - ./.cache:/app/.cache
    networks:
      - steel-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

  ui:
    build:
      context: .
      dockerfile: ./ui/Dockerfile
    ports:
      - "5173:80"
    environment:
      - API_URL=${API_URL:-http://api:3000}
    depends_on:
      - api
    networks:
      - steel-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  steel-network:
    name: steel-network
    driver: bridge